<%= render 'layouts/navbar' %>

<%= list_title "Lâminas" %>

<table>
  <thead>
    <th>Paciente</th>
    <th>Exame</th>
    <th>Data do preparo da lâmina</th>
    <th>Amostra</th>
    <th>Sonda</th>
    <th>Responsável</th>
    <th></th>
  </thead>
  <tbody>
    <% @slices.each do |slice| %>
      <tr class="fish-slice">
        <td><%= slice.exam.patient %></td>
        <td><%= slice.exam.name %></td>
        <td><%= l slice.date %></td>
        <td><%= slice.exam.subsample_label %></td>
        <td><%= slice.probe_name %></td>
        <td><%= slice.responsible_login %></td>
        <td>
          <%= link_to "Nova captura", new_scanning_path(slice_id: slice.id), class: 'btn btn-sm btn-outline-success new-scanning' %>
          <% unless slice.scannings.empty? %>
            <%= link_to "Capturas", scannings_from_fish_slice_path(slice), class: 'btn btn-sm btn-outline-info'%>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render 'layouts/table_footer', elements: @slices %>
