<%= render 'layouts/navbar' %>

<%= list_title "Lâminas de exame" %>

<table class="mt-5">
  <thead>
    <th>Responsável</th>
    <th>Data de preparo da lâmina</th>
    <th>Sonda</th>
  </thead>
  <tbody>
    <% @slices.each do |slice| %>
      <tr class="slice">
        <td><%= slice.responsible_login %></td>
        <td><%= l slice.date %></td>
        <td><%= slice.probe_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
