<%= render 'layouts/navbar' %>

<div id="single-nucleus-card" class="card col-4 p-0 offset-4" style="display: none;">
  <div class="card-header">
    <span id="channel-paths" hidden></span>
    <span id="nucleus-label" hidden></span>
    <span id="nucleus-id" hidden></span>
    <button id="blue-channel" class="btn btn-primary with-blue">Azul</button>
    <button id="green-channel" class="btn btn-success with-green">Verde</button>
    <button id="red-channel" class="btn btn-danger with-red">Vermelho</button>
    <button id="mark-as-positive" class="btn btn-outline-success ml-5">Marcar como positivo</button>
    <button id="mark-as-negative" class="btn btn-outline-danger ml-5">Marcar como negativo</button>
    <button id="treated" class="btn btn-outline-dark float-right">Tratar</button>
    <button id="original" class="btn btn-outline-info float-right" hidden>Original</button>
  </div>
  <div class="card-body">
    <img id="single-nucleus" src="" class="col-12">
  </div>
</div>

<div id="shade" style="position: absolute; top: 0px; left: 0px; right: 0px; background-color: rgba(0, 0, 0, 0.7); z-index: 2; display: none;">
</div>


<div class="p-5" style="background-color: rgba(0, 0, 0, .65)">
  <% scanning_image = @scanned_cells.first.scanning_image %>
  <% if scanning_image.pending? %>
    <div class="pb-3">
      <%= link_to "Analizada", scanning_image_path(scanning_image), class: 'btn btn-lg btn-outline-primary offset-10 analyze-image', method: :patch %>
    </div>
  <% else %>
    <h4 id='processing-image-status' class="text-center pb-3 text-white">
      Imagem jรก analizada
    </h4>
    <hr>
  <% end %>
  <% @scanned_cells.each do |cell| %>
    <div id="cell-<%= cell.id %>" class="card d-inline-block <%= cell.positive? ? "positive" : "negative" %>" style="margin-left: 15px; margin-bottom: 15px; margin-right: 15px; border: 3px solid <%= cell.positive? ? "rgb(40, 167, 69);" : "rgb(202, 37, 53);" %>">
      <%= image_tag cell.rgb, class: "cell", style: {width: 125, height: 125}, data_value: cell.id, data_label: cell.label %>
    </div>
  <% end %>
  <%= render 'layouts/table_footer', elements: @scanned_cells %>
</div>
