<%= render 'layouts/navbar' %>

<div class="card col-8 mt-5 p-0 offset-2 mb-5">
  <div class="card-header">
    <h2 class="text-center">
      Digitalização
    </h2>
  </div>
  <div class="card-body">
    <div class="form-group">
      <div class="row col-12">
        <h4 id="responsible" class="col-4 text-center">
          Responsável: <%= @scanning.responsible_login %>
        </h4>
        <h4  id="date" class="col-4 text-center">
          Data da captura: <%= l @scanning.date %>
        </h4>
        <h4 id="valid-nucleus" class="col-4 text-center">
          <%= "Núcleos válidos: #{@scanning.valid_nucleus}"%>
        </h4>
      </div>
      <hr>
    </div>
    <% @scanning.scanning_images.each do |image| %>
      <div class="card col-10 p-0 offset-1 mb-4 scanning-image-card">
        <div class="card-header">
          <div class="row col-12">
            <h6 class="col-3 text-center">
              <%= "Imagem-#{image.id}"%>
            </h6>
            <h6 class="col-3 text-center">
              <%= "Núcleos encontrados: #{image.total_nucleus_found}"%>
            </h6>
            <h6 class="col-3 text-center">
              <%= "Núcleos válidos: #{image.valid_nucleus_found}"%>
            </h6>
            <div class="col-3">
              <button class="btn btn-sm btn-outline-dark expand" data-value="<%= image.id%>">
                <span class="fa fa-plus icon"></span>
              </button>
            </div>
          </div>
          <%= %>
        </div>
        <div id="image-<%= image.id%>" class="card-body image-card" style="display: none;">
          <%= image_tag image.marked_image, class: 'col-12' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  function change_button_icon(icon){
    if(icon.hasClass('fa-plus')){
      icon.removeClass('fa-plus');
      icon.addClass('fa-minus');
    }else{
      icon.addClass('fa-plus');
      icon.removeClass('fa-minus');
    }
  }

  function find_button(event){
    let clicked_element = event.target;
    while(clicked_element.nodeName != 'BUTTON')
      clicked_element = clicked_element.parentNode;
    return $(clicked_element);
  }

  $('.expand').click( event => {
    let button = find_button(event);
    const element_id = button.attr('data-value');
    $(`#image-${element_id}`).fadeToggle();
    let icon = button.children();
    change_button_icon(icon);
  })
</script>
