<%= render 'layouts/navbar' %>

<div class="card col-8 mt-5 p-0 offset-2 mb-5">
  <div class="card-header">
    <h2 class="text-center">
      Digitalização
    </h2>
  </div>
  <div class="card-body">
    <div class="form-group">
      <div class="row col-12">
        <h4 class="col-6 d-inline-block text-center">
          Responsável: <%= @scanning.responsible_login %>
        </h4>
        <h4 class="col-6 d-inline-block text-center">
          Data da captura: <%= l @scanning.date %>
        </h4>
      </div>
      <hr>
    </div>
    <% @scanning.scanning_images.each do |image| %>
      <div class="card col-10 p-0 offset-1 mb-4">
        <div class="card-header">
          <div class="row col-12">
            <h6 class="col-3 text-center">
              <%= "Imagem-#{image.id}"%>
            </h6>
            <h6 class="col-3 text-center">
              <%= "Núcleos encontrados: #{image.total_nucleus_found}"%>
            </h6>
            <h6 class="col-3 text-center">
              <%= "Núcleos válidos: #{image.valid_nucleus_found}"%>
            </h6>
            <h6 class="col-3"></h6>
          </div>
          <%= %>
        </div>
        <div class="card-body" hidden>
          <%= image_tag image.original, class: 'col-12' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
