<table class="table-sm">
  <thead>
    <th>Imagem</th>
    <th>Exame</th>
    <th>Paciente</th>
    <th>Amostra</th>
    <th>Sonda</th>
    <th>Núcleos válidos</th>
    <th>Inicio do processamento</th>
    <th>Término do processamento</th>
    <th></th>
  </thead>
  <tbody>
    <% @scanning_images.each do |image| %>
      <tr>
        <td><%= image.id %></td>
        <td><%= image.scanning.fish_slice.exam.name %></td>
        <td><%= image.scanning.fish_slice.exam.patient %></td>
        <td><%= image.scanning.fish_slice.exam.subsample_label %></td>
        <td><%= image.scanning.fish_slice.probe_name %></td>
        <td><%= image.valid_nucleus_found %></td>
        <td><%= l(image.start_processing_at) %></td>
        <td><%= l image.finish_processing_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
