<%= render 'layouts/navbar' %>

<h2 class="text-center mt-3">
  Exames em andamento
</h2>

<hr>

<table>
  <thead class="bg-secondary">
    <th>Exame</th>
    <th>Paciente</th>
    <th>Amostra</th>
    <th>Iniciado em</th>
    <th>Status</th>
    <th></th>
  </thead>
  <tbody>
    <% @exams.each do |exam| %>
      <tr class="exam">
        <td><%= exam.exam %></td>
        <td><%= exam.patient %></td>
        <td><%= exam.subsample_label %></td>
        <td><%= exam.started_at %></td>
        <td><%= exam.status %></td>
        <td>
          <%= link_to "Nova lâmina", new_slice_path(exam_id: exam.id, name: exam.exam, patient: exam.patient, subsample_label: exam.subsample_label, start_date: exam.started_at), class: 'btn btn-sm btn-outline-info new-slice' %>
          <% unless FishSlice.where(genomico_exam_id: exam.id).empty? %>
            <%= link_to "Lâminas", slices_from_exam_path(exam.id), class: 'btn btn-sm btn-outline-secondary slices-from-exam' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
