<%= render 'layouts/navbar' %>

<h2 class="text-center mt-3">
  Exames em andamento
</h2>

<hr>

<table>
  <thead class="bg-secondary">
    <th>Exame</th>
    <th>Paciente</th>
    <th>Amostra</th>
    <th>Iniciado em</th>
    <th>Status</th>
    <th></th>
  </thead>
  <tbody>
    <% @exams.each do |exam| %>
      <tr class="exam">
        <td><%= exam["exam"] %></td>
        <td><%= exam["patient"] %></td>
        <td><%= exam["subsample_label"] %></td>
        <td><%= exam["started_at"] %></td>
        <td><%= exam["status"] %></td>
        <td>
          <%= link_to "Nova lâmina", new_slice_path(subsample_id: exam["sample_id"], subsample_label: exam["subsample_label"]), class: 'btn btn-sm btn-outline-info' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
