<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #563d7c;">
  <%= link_to root_path, class: 'navbar-brand' do %>
    <span class="fa fa-fish text-danger" style="font-weight: 900;"></span>
    <span class='text-primary'>FISH</span>
    <span class="fa fa-fish text-success"></span>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <%= link_to "Lâminas", fish_slices_path, class: 'nav-link fish-slices' %>
      <%= link_to "Imagens", complete_scaning_images_path, class: 'nav-link scanning-images' %>
    </ul>
  </div>
</nav>

<% if flash[:success] %>
  <div class="alert alert-success" role="alert" id = 'success-message'>
    <%= flash[:success] %>
  </div>
<% end %>

<% if flash[:error] %>
  <div class="alert alert-danger" role = 'alert' id = 'error-message'>
    <%= flash[:error] %>
  </div>
<% end %>
